body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(230, 225, 225, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-sider {
  background: white;
}

.formLayout {

  margin-left: 33%;
  position: relative;
}

#map {
  margin-left: 13%;
  background: white;
}
#table {
  width: 25%;
  padding-top: 2%;
  position: absolute;
  top: 0;
  left: 0;
}
#inputform {
  padding-top: 2%;
  margin-left: 33%;
  background: white;
}
#soft-text {
  color:gray;
  margin-bottom: 3px !important
}
/* table */
.ant-table {
  font-size: 9px;
}
#card-image {
  float: right;
}
#cardStyle {
  padding: 2%;
  box-shadow: 2px 0 0px -19px rgb(136, 122, 122);
  height: 100%
}
#table {
  top: 10px;
  height: 95%;
  box-shadow: 4px 0 5px 0px rgb(146, 135, 135);
}
#content {
  background: white;
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
  position: relative;
   padding: 2px !important; 
   padding-left: 5px !important;
   width: 50% !important;
  overflow-wrap: break-word; }
main.ant-layout-content {
  background: white;
}
.ant-card-body {
   padding: 0px !important;
   padding-left: 5% !important;
   padding-right: 5% !important;
  border-left-style: hidden !important;
  border-right-style: hidden !important;

}